/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/* nejsme včerejší, používáme moderní box model */
html {
	box-sizing: border-box;
}
*,
:after,
:before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 30px;
	font-family: 'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */
